
@{
    ViewData["Title"] = "Hotel";
}

<h2>Lazy</h2>

<table width="100%" class="table table-striped table-bordered table-hover">
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Room</th>
    </tr>

    @foreach (var u in Model)
    {
        <tr>
            <td>@u.Name</td>
            <td>@u.Age</td>
            <td>@u.Room.Number</td>
        </tr>
    }
</table>