@model IEnumerable<Hotel_App.Models.Room>
<!DOCTYPE html>
 
<html>
<head>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Hotel</title>
    </head>
</head>
<body>
<h3>Rooms</h3>
 <form>
     <span>
         <input type="search" name="searchString" />
         <input type="submit" value="Find" />
     </span>
 </form>
<table class="table-condensed" cellpadding="15" cellspacing="15">
    <tr>
        <td>Number</td>
    </tr>
    @foreach (var room in Model)
    {
        <tr>
            <td>@room.Number</td>
            <td><a href="~/Home/RoomInfo/@room.Id">More</a></td>
            <td><a href="~/Home/DeleteRoom/@room.Id">Delete</a></td>
            <td><a href="~/Home/EditRoom/@room.Id">Change</a></td>
        </tr>
    }
</table>
@using (Html.BeginForm("AddNewRoom", null, FormMethod.Get))
{
    <form class="form-control" action="~/Home/Index/AddNewRoom">
        <input type="submit" value="Add new room" />
    </form>
}
</body>
</html>