<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <!--меню-->
        <nav class="navbar navbar-inverse">
                <div class="container">
                    <div>                
                        <ul class="nav list-group-horizontal">
                            <li><a href="~/Home" class="navbar-brand"><h1>Hotel</h1></a></li>
                            <li><a href="~/Home/Index" class="navbar-brand">Rooms</a></li>
                            <li><a href="~/Home/Index1" class="navbar-brand">Guests</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        <!--основной контент-->
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>© 2019 - Hotel</p>
            </footer>
        </div>
    </body>
</html>